.card {
  max-width: 400px;
  margin: 20px auto;
  border: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 0 auto; 
  border-radius: 10%; 
}


.card-body {
  padding: 20px;
  background-color: #f8f9fa;
}

.card-title {
  font-size: 1.8em;
  margin-bottom: 15px;
  color: #343a40;
}

.card-text {
  margin: 10px 0;
  font-size: 1em;
  color: #6c757d;
}
